@font-face {
  font-family: 'doodlefont';
  src: url('/assets/doodlefont3.ttf') format('truetype');
}

body {
  background-color: lightcyan;
  font-family: "doodlefont", sans-serif;
  max-width: 800px; /* Tablet size */
  margin: 0 auto;
  padding: 20px;
}

html {
  scroll-behavior: smooth;
}

.image-container {
  text-align: center;
  width: 100%;
  max-height: 300px;
  object-fit: contain;
}

.table-title {
  text-align: center;
}

/* Links styling */
a {
  text-decoration: none;
  display: inline-block;
  transform: scale(1);
  transition: transform 0.3s ease;
}

a:hover {
  transform: scale(1.05);
}

@keyframes breathe {
  0%, 100% {
    transform: scale(1) rotate(2deg); /* Original size at the beginning and end of animation */
  }
  50% {
    transform: scale(1.05) rotate(-2deg); /* Slightly expanded in the middle of animation */
  }
}

.breathe-image {
  animation: breathe 6s infinite ease-in-out; /* Apply the animation */
}
