body, html {
  margin: 0;
  overflow: hidden;
  height: 100%;
  font-family: Arial, sans-serif;
}

.container {
  position: absolute;
  top: 0;
  width: 100%; /* This will make it span the full viewport width */
  height: 100%;
  overflow: auto;
}

#pages {
  left: 0;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 0; /* Set a lower z-index for clarity, though this is the default value */
}

#tiles {
  right: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  z-index: 1; /* Ensure tiles is on top */
}

.page, .tile {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 32px;
}

.page {
  height: 100vh;
  position: relative;
}

.tile {
  height: 300px;
}

.close-section {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
#tiles.hidden {
  visibility: hidden; /* Hide but maintain layout */
  pointer-events: none; /* Prevent interaction */
}
